<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <!-- <div class="wrapper"> -->
      <p class="head"><em>Current Weather</em></p>
      <div class="weather">
        <div class="img-box"></div>
        <div class="text">
        </div>
        <input type="text" name="city" placeholder="Enter City">
        </div>
    <!-- </div> -->
    <script src="./js/jquery-2.1.4.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
